
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  width: 400px;



}

.allDivs {
  border: black 1px solid;
  width: calc(100% / 16);
  height: calc(400px / 16);
  box-sizing: border-box;
}




.buttonContainer {
  display: grid;
  padding: 20px;

}

.gridParent {
  display: grid;
  justify-content: center;
}